@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  color: #323232;
}

a {
  text-decoration: none;
}

* {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.container--wide {
  max-width: unset;
  width: 100%;
}

.none {
  display: none;
}

.header__row {
  padding-top: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
}

.logo-name {
  margin-left: 14px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

.navlist ul {
  display: flex;
  justify-content: space-between;
}

.navlist ul li {
  list-style-type: none;
}

.navlist ul li + li {
  padding-left: 42px;
}

.navlist ul li a {
  transition: 0.3s all ease-in;
}
.navlist ul li a:hover {
  color: rgba(50, 50, 50, 0.425);
}

.active {
  font-weight: 700;
  color: #f78434;
  transition: 0.3s all ease-in;
}
.active:hover {
  color: #dd772e;
}

.find {
  margin-top: 44px;
}

.find__row {
  display: flex;
}

.find__textContent {
  display: flex;
  flex-direction: column;
}

.find__header {
  margin-top: 127px;
  margin-right: -240px;
  z-index: 2;
  font-weight: 700;
  font-size: 54px;
  line-height: 1.46;
  letter-spacing: 0.8px;
}

.find__text {
  margin-top: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.69;
  letter-spacing: 1.15px;
}

.find__form {
  margin-top: 42px;
  position: relative;
}
.find__form::after {
  content: "";
  display: block;
  position: absolute;
  left: 28px;
  top: 20px;
  transform: translateY(-50%);
  width: 24px;
  height: 19px;
  z-index: 2;
  background-image: url(/img/logo/mail.svg);
}

.find__form-input {
  width: 459px;
  height: 58px;
  box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  border-radius: 29px;
  border-color: transparent;
  padding: 16px 72px;
  transition: 0.3s ease-in all;
}
.find__form-input:focus {
  box-shadow: 0px 17px 42px rgba(247, 133, 52, 0.959);
  outline: 0;
}

.header-img {
  height: 676px;
  width: 540px;
  margin-left: 103px;
}

.logo__row {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 91px;
}

.weProvide-row {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.weProvide__images {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}

.image_1 {
  border-radius: 20px;
}

.image_2 {
  border-radius: 20px 20px 0 20px;
}

.weProvideText {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 374px;
  margin-left: 181px;
  margin-right: 170px;
}
.weProvideText > p + p {
  margin-top: 20px;
}

.weProvide__Title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.48;
  letter-spacing: 0.8px;
  margin-bottom: 20px;
}

.weProvide__Text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.69;
  letter-spacing: 1.15px;
}

.weProvideBtn {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background-color: #f78434;
  width: 172px;
  height: 58px;
  border-radius: 29px;
  padding: 18px 39px;
  margin-top: 40px;
}

.card__info {
  max-width: 300px;
  position: absolute;
  right: 662px;
  top: 332px;
  z-index: 3;
}

.card__info--row {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 300px;
  height: 141px;
  padding: 30px 29px;
  border-radius: 15px;
}

.card__info--text {
  padding-left: 20px;
}

.startUsing {
  margin-top: 153px;
  margin-bottom: 145px;
}

.startUsingRow {
  display: flex;
  justify-content: center;
  background-color: #58bebf;
  border-radius: 20px 0 20px 0;
}

.startUsingImg {
  display: flex;
  justify-content: flex-end;
  margin-top: 59px;
  padding-top: 25px;
  padding-right: 25px;
  border-radius: 0 20px 0 0;
  background-color: white;
  max-width: 100%;
  overflow: hidden;
}

.statUsingContent {
  background: url(/img/testimonials/Oval.svg) no-repeat bottom -152px left -152px, url(/img/testimonials/Design\ element.svg) no-repeat top -110px right -100px;
  padding-left: 96px;
  padding-top: 92px;
  color: white;
}

.startUsingTitle {
  color: inherit;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.48;
  letter-spacing: 0.8px;
}

.startUsingText {
  color: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.69;
  letter-spacing: 1.15px;
  margin-top: 16px;
}

.containerBtn {
  margin-top: 29px;
  width: 100%;
  height: 58px;
}
.containerBtn > * + * {
  margin-left: 20px;
}

.btn {
  display: inline-block;
  width: 172px;
  height: 58px;
  background-color: #f78434;
  border-radius: 29px;
  padding: 18px 40px;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5 px;
  color: #ffffff;
}

.btnWhite {
  position: relative;
  background-color: white;
  color: #323232;
  padding-left: 49px;
  padding-right: 29px;
}
.btnWhite::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background: url(/img/logo/play.svg);
  background-repeat: no-repeat;
  background-size: cover;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.btnAbs {
  position: absolute;
  right: 0;
  border: none;
  z-index: 250;
}

.whoDo {
  padding-top: 0;
  padding-bottom: 50px;
  position: relative;
}
.whoDo::before {
  content: "";
  z-index: -2;
  position: absolute;
  background-color: #f5f6fa;
  top: -100%;
  width: 100%;
  height: 160%;
}

.whoDo__head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whoDo__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.48;
  letter-spacing: 0.8px;
  color: #323232;
}

.whoDo__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.69;
  letter-spacing: 1.15px;
  color: #323232;
  margin-bottom: 45px;
}

.whoDo__select--row {
  width: 1110px;
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  justify-content: stretch;
}

.whoDo__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 540px;
  height: 365px;
  padding: 40px 88px;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
}

.card__Img {
  margin-bottom: 15px;
}

.card__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 63px;
  letter-spacing: 0.8px;
  color: #323232;
}

.card__icon {
  fill: #f78434;
}

.card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: #323232;
  margin-bottom: 25px;
}

.unBtn {
  width: 172px;
  height: 58px;
  border-radius: 29px;
  background-color: white;
  color: #f78434;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  padding: 18px 39px;
}

.whoDo__card:hover {
  background-color: #f78434;
}
.whoDo__card:hover .card__icon {
  fill: white;
}
.whoDo__card:hover .card__title {
  color: white;
}
.whoDo__card:hover .card__text {
  color: white;
}

.whyChooseUs {
  margin-top: 63px;
  margin-bottom: 112px;
}

.whyChooseUs__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.4761904762 px;
  letter-spacing: 0.8px;
  color: #323232;
  margin-bottom: 58px;
  text-align: center;
}

.whyChooseUs__row {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 35px;
       column-gap: 35px;
}

.reasons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reasons__icon circle {
  fill: rgba(88, 190, 191, 0.2);
}
.reasons__icon path {
  fill: #58bebf;
}
.reasons__icon ellipse {
  fill: #58bebf;
}

.reasons__title {
  margin-top: 15px;
  margin-bottom: 2px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5 px;
  letter-spacing: 0.5px;
  color: #323232;
}

.reasons__text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6875 px;
  letter-spacing: 1.15px;
  color: #323232;
}/*# sourceMappingURL=main.css.map */