@import "../sass/reset";
* {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}
.container--wide {
  max-width: unset;
  width: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import "../sass/blocks/header";
@import "../sass/blocks/find";
@import "../sass/blocks/weProvide";
@import "../sass/blocks/startUsing";
