.startUsing {
  margin-top: 153px;
  margin-bottom: 145px;
}

.startUsingRow {
  display: flex;
  justify-content: center;
  background-color: #58bebf;
  border-radius: 20px 0 20px 0;
}
.startUsingImg {
  display: flex;
  justify-content: flex-end;
  margin-top: 59px;
  padding-top: 25px;
  padding-right: 25px;
  border-radius: 0 20px 0 0;
  background-color: white;
  max-width: 100%;
  overflow: hidden;
}
.statUsingContent {
  background: url(/img/testimonials/Oval.svg) no-repeat bottom -152px left -152px,
    url(/img/testimonials/Design\ element.svg) no-repeat top -110px right -100px;
  padding-left: 96px;

  padding-top: 92px;
  color: white;
}
.startUsingTitle {
  color: inherit;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.48;
  letter-spacing: 0.8px;
}
.startUsingText {
  color: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.69;
  letter-spacing: 1.15px;
  margin-top: 16px;
}

.containerBtn {
  margin-top: 29px;
  width: 100%;
  height: 58px;
  & > * + * {
    margin-left: 20px;
  }
}
