.whyChooseUs {
  margin-top: 63px;
  margin-bottom: 112px;
}
.whyChooseUs__title {
  font-weight: 700;
  font-size: 42px;
  line-height: (62/42) px;
  letter-spacing: 0.8px;
  color: #323232;
  margin-bottom: 58px;
  text-align: center;
}

.whyChooseUs__row {
  display: flex;
  justify-content: space-between;
  column-gap: 35px;
}
.reasons {
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover .reasons__icon {
    circle {
      fill: #f78434;
    }
    path {
      fill: white;
    }
    ellipse {
      fill: white;
    }
  }
}
.reasons__icon {
  circle {
    fill: rgba(88, 190, 191, 0.2);
  }
  path {
    fill: #58bebf;
  }
  ellipse {
    fill: #58bebf;
  }
}

.reasons__title {
  margin-top: 15px;
  margin-bottom: 2px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: (42/28) px;
  letter-spacing: 0.5px;
  color: #323232;
}
.reasons__text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: (27/16) px;
  letter-spacing: 1.15px;
  color: #323232;
}
